body {
background: linear-gradient(270deg, #000000a1, #a0a0a0);
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ventasOnline{
    display: none;
    flex-direction: column;
    align-items: center;
}

thead tr{
    background-color: rgb(156, 156, 156);
    border-radius: 12px;
    
}

tbody tr{
        background: white;
    color: #222;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s;
    margin: 5px;
    justify-content: space-between;
    width: 50%;
    
}

td{
    padding: 5px;
    align-items: center;
    text-align: center;
}

.divBusquedaInicio{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cardBusquedaInicio{
    width: 80%;
        background: white;
    color: #222;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s;
    margin: 5px;
     display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.logo{
    border-radius: 50%;
    width: 10%;
    height: 10%;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    z-index: -1;
} */

/* HEADER */
.header {
    text-align: center;
    padding: 40px 20px;
}

.logo {
    width: 150px;
    margin-bottom: 15px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.6));
}

.header h1 {
    font-size: 2.2rem;
    text-shadow: 0 3px 6px rgba(0,0,0,0.7);
    margin-bottom: 10px;
}

.header p {
    opacity: 0.9;
}

/* TITULO SECCIÓN */
.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 100%;

}

.productos .card{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.rowCard{
    justify-content: space-between;
    width: 90%;
}

.productos h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* GRID DE CARDS */
.gridIndex {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

/* CARD */
.card {
    overflow: auto;
    background: white;
    color: #222;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s;
    margin: 5px;
     display: flex;
    justify-content: space-between;
    
}

.cardProducto{
    display: flex;
    justify-content: space-between;
      background: white;
    color: #222;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s;
    margin: 5px;
    width: 100%;
    
}

.card:hover {
    box-shadow: 0 12px 22px rgba(0,0,0,0.35);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.desc {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.precio {
    font-size: 1.3rem;
    font-weight: bold;
    color: #d80000;
    margin-bottom: 12px;
}

.btnRed.active{
    background: #000000;
    color: #d80000;
   
}

button, .button, .btnRed {
    padding: 10px 20px;
    background: #d80000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    margin:5px;
    transition: 0.2s;
}


button:hover, .button:hover  {
    background: #a60000;
}



/* FOOTER */
.footer {
    background: rgba(0, 0, 0, 0.75);
    color: #eee;
    padding: 40px 20px;
    margin-top: 40px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.footer-box h3,
.footer-box h4 {
    margin-bottom: 12px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.footer-box p,
.footer-box a {
    font-size: 0.9rem;
    opacity: 0.9;
}

.footer-box a {
    color: #ff4444;
    text-decoration: none;
    transition: 0.2s;
}

.footer-box a:hover {
    opacity: 1;
    text-decoration: underline;
}

/* Línea inferior */
.footer-copy {
    text-align: center;
    margin-top: 25px;
    font-size: 0.85rem;
    opacity: 0.7;
}

/* 
mensaje */


.containerMensaje{
    top: 0px;
    left: 0px;
    padding: 10px;
    position: fixed;
}

.mensaje{
   display: flex;
  padding: 15px 25px;
  background: #111;
  color: #fff;
  border-radius: 8px;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.mensaje.show {
  opacity: 1;
  transform: translateY(0);
}

.flyerDiv{
    display: none;
    flex-direction: column;
    align-items: center;
}

.btn-stock, .btn-flyer, .btn-venta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: revert;
}