.panelPedido{
    width: 95%;
    position: absolute;
    top: 0px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: fixed;
    background-color:#ffffff;
    border: 1px solid black;
    border-radius: 12px;
    z-index: 2000;
}

.panelBlack{
    top: 0;
    display:none;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    z-index: 200;
}

.card-headerPedidos{
      padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view{
    width: 100%;
    overflow-y: hidden;
    background-color: white;
}

.total{
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge{
    display: flex;
    align-items: center;
  position: absolute;
 transform: translate(40px, -30px);
 background-color: rgb(236, 232, 232);
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  padding: 5px;
  width: 20px;
  height: 20px;
}


.btn-primary {
border: 1px solid black;
    background: #00000061;
 color: rgb(184 13 24);
    box-shadow: 0 4px 10px rgba(2, 8, 15, 0.3);
}

.btn-primary:hover {
  background: #00000033;;
  box-shadow: 0 6px 14px rgba(26, 115, 232, 0.4);
  transform: translateY(-2px);
}

.container-Pedido{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;

}

.btn2 {

  padding: 5px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
  text-align: center;
}

.iconPedido{
width:30px;
    height: 30px;

    box-shadow: 5px 5px 14px 0px black;
    border-radius: 50%;
    width: 15%;
    border: 1px solid black;
    }

.imgPanelPedidos{
    width: 120px;
    height: 120px;
}

.title{
    padding: 20px;
}