.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
   display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    justify-content: space-around
}

.column{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

.containter-grid{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    
}

.btnEnabled {
 padding: 10px 20px;
    background: #d80000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
}


/* ESTILO PARA BOTÓN DESHABILITADO */
.btnDisabled {
  background: #999;
  color: #eee;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: not-allowed;
  opacity: 0.6;
}

.h-scroll-div{
      background-color: rgba(187, 187, 187, 0.829);
    border-radius: 12px;
    align-items: center;
    padding: 10px;
    width: 100%;
  z-index: 1000;
    display: none;
     
       top: 0;
       flex-direction: column;

}

.h-scroll {
  
    display: flex;
  gap: 12px;
  /* ESTA ES LA CLAVE */
  overflow-x: auto;    /* permite scroll horizontal */
  overflow-y: hidden;  /* oculta lo que sobresale verticalmente */

  white-space: nowrap; /* evita salto de línea */
  padding: 10px;
  width: 100%;       /* limitar ancho para ver el efecto */
  background: #eee;
  border-radius: 12px;
  margin: 10px;
   background-color: rgba(0, 0, 0, 0.89);
   align-items: center;
    justify-content: center;

}

.muestraImgEditar{
    width: auto;
    height: 100px;
}

.h-scroll-ML {
  
    display: flex;
    flex-direction: row;
  gap: 12px;
  /* ESTA ES LA CLAVE */
  overflow-x: auto;    /* permite scroll horizontal */
  overflow-y: hidden;  /* oculta lo que sobresale verticalmente */

  white-space: nowrap; /* evita salto de línea */
  padding: 10px;
  width: 100%;       /* limitar ancho para ver el efecto */
  background: #eee;
  border-radius: 12px;
  margin: 10px;
   background-color: rgba(0, 0, 0, 0.89);
   align-items: center;
    justify-content: center;

}

.imgItemML{
    width:auto;
    height:100px;
}



.barraNav{
   display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    justify-content: center;
       background: white;
    color: #222;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s;
    position: sticky;
}


.contenedorEdit{
display: none;
flex-direction: column;
background-color: rgba(0, 0, 0, 0.39);
justify-content: center;
align-items: center;
width: 100%;
padding: 5px;
border-radius: 12px;
}