.img404Big{
 height: 100%;
 width: auto;
}

.img404{
 height: 20%;
 border: 12px;
 margin: 5px;
}

.img404:hover{

 border: 1px solid rgb(223, 7, 7);
}

.descripcionVP{
    border-radius: 12px;
    background-color: rgb(182 182 182 / 51%);
    padding: 20px;

}
/* 
div vista previa  */
.divVP{
    background-color: rgb(255 255 255);
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 90%;
}


/* .divVP div{
    width: 100%;
} */
.precioVP{
font-size: 30px;
}

.buy{
    padding: 20px;
}

.info{
align-items: stretch
}

.info > *{
margin: 20px 0 20px 0;
}

.btnCrearProducto{
width: 50%;
margin: 20px;
}

.grid{
        display: flex;
    align-items: flex-start;
}






body { font-family: Arial; padding: 20px; }
    img { width: 180px; margin: 10px; border-radius: 10px; }
    input { width: 420px; padding: 6px; }
    button { padding: 8px 14px; margin-left: 6px; cursor: pointer; }



.img-wrapper {
  position: relative;
   /* ajustá al tamaño que quieras  */
   width: 30%;       
  /*height: 100px; */
  cursor: pointer;
  filter: grayscale(100%) brightness(0.8);
}

.img404 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

/* Icono */
.icon-edit {
  position: absolute;
  inset: 0;                  /* ocupa todo */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.icon-edit svg {
  width: 48px;
  height: 48px;
  stroke: white;
}

/* HOVER */
.img-wrapper:hover .img404 {
  filter: grayscale(100%) brightness(0.8);
}

.img-wrapper:hover .icon-edit {
  opacity: 1;
}

.columnImgMuestra{
    width: 20%;
}