body { font-family: Arial; padding: 20px; }
    img { width: 180px; margin: 10px; border-radius: 10px; }
    input { width: 420px; padding: 6px; }
    button { padding: 8px 14px; margin-left: 6px; cursor: pointer; }



.row{
   display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    justify-content: space-evenly
}

.column{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

.img404Big{
 
 width: 100%;
}

.img404{
 height: 20%;
 border: 12px;
 margin: 5px;
}

.img404:hover{

 border: 1px solid rgb(223, 7, 7);
}

.descripcionVP{
    border-radius: 12px;
    background-color: rgb(216 216 216 / 65%);
    padding: 20px;

}

.labelStock{
    height: 50px;
    width: 50%;
    position: absolute;
    top: 10%;
    left: -10%;
    background: #c0392b;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 50px;
    text-align: center;
    transform: rotate(-45deg);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    pointer-events: none;
}

.imgDisabled{
    filter: grayscale(100%) brightness(0.8);
    opacity: 0.6;
    pointer-events: none;
}

/* 
div vista previa  */
.divVP{
       position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    display: flex;
    align-items: center;
    /* width: 90%; */
}


.divVP div{
    width: 100%;
}
.precioVP{
font-size: 30px;
}

.buy{
    padding: 20px;
}

.info{
align-items: stretch
}

.info > *{
margin: 20px 0 20px 0;
}

.btnCrearProducto{
width: 50%;
margin: 20px;
}

.grid{
        display: flex;
    align-items: flex-start;
}
.cardColumn{
    display: flex;
    flex-direction: column;
    background: white;
    color: #222;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s;
    margin: 10px;
     display: flex;
    justify-content: space-between;
    width: 50%;
    width: auto;

}